/*    预留图片位置    start*/
/**
** img-square 图片为正方形
** img-rectangle 图片为长方形
**/
@mixin img-square($parentSize,$childSize){
    position: relative;
    width:$parentSize;
    height:0;
    padding-bottom:$parentSize;
    > img{
        position: absolute;
        left:0;
        width:$childSize;
        height:$childSize;
    }
}
@mixin img-rectangle($imgW,$imgH,$parentSize,$childSize){
    position: relative;
    width:percentage($parentSize);
    height:0;
    padding-bottom:percentage(round($imgH / $imgW * 100) / (100 / $parentSize));
    > img{
        position: absolute;
        left:0;
        width:$childSize;
        height:$childSize;
    }
}
/*    预留图片位置    end*/
/*    按钮    start*/
@mixin btn(){
    display: inline-block;
    
    
}

@mixin btn-size($width,$height,$fs,$br:6px){
    width:$width;
    height:$height;
    font-size:$fs;
    border-radius: $br;
}
/*    按钮    end*/

