/*    预留图片位置    start*/
@mixin img-pre($out-width,$in-width){
    position: relative;
    width:$out-width;
    height:0;
    padding-bottom:$out-width;
    > img{
        position: absolute;
        left:0;
        width:$in-width;
        height:$in-width;
    }
}
/*    预留图片位置    end*/

