/*    预留图片位置    start*/
/**
** img-square 图片为正方形
** img-rectangle 图片为长方形
**/
@mixin img-square($parentSize, $childSize){
    position: relative;
    width:$parentSize;
    height:0;
    padding-bottom:$parentSize;
    > img{
        position: absolute;
        left:0;
        width:$childSize;
        height:$childSize;
    }
}
@mixin img-rectangle($imgW, $imgH, $parentSize, $childSize){
    position: relative;
    width:percentage($parentSize);
    height:0;
    padding-bottom:percentage(round($imgH / $imgW * 100) / (100 / $parentSize));
    > img{
        position: absolute;
        left:0;
        width:$childSize;
        height:$childSize;
    }
}
/*    预留图片位置    end*/

/*    按钮    start*/
@mixin btn-variant($color, $background){
    $active-bg:darken($background,10%);
    $disabled-bg:lighten($background,10%);
    
    color:$color;
    background-color:$background;
    &:active{
        background: $active-bg;
    }
    &:disabled{
        background: $disabled-bg;
    }
}

@mixin btn-size($width, $height, $fs, $br){
    width:$width;
    height:$height;
    font-size:$fs;
    border-radius: $br;
}
/*    按钮    end*/


/*    头像    start*/
@mixin avatar($color, $bg-color){
    position: relative;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    color: $color;
    border-radius: 50%;
    background-color: $bg-color;
    vertical-align:middle;
}

@mixin avatar-size($width, $height){
    width:$width;
    height:$height;
}
/*    头像    end*/

/*    红点    start*/
@mixin reddot($border-color,$bg-color){
    position: relative;
    display:inline-block;
    &::after{
        content:"";
        position: absolute;
        border:1px solid $border-color;
        border-radius: 50%;
        background: $bg-color;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
}

@mixin reddot-size($width,$height,$top,$right){
    width:$width;
    height:$height;
    top:$top;
    right:$right;
}
/*    红点    end*/

/*    徽标/标签    start*/
@mixin pendant($height,$min-width,$plr,$bg,$fs,$fc,$border-color,$br){
    display: inline-block;
    height:$height;
    min-width:$min-width;
    padding:0 $plr;
    line-height: $height;
    color:$fc;
    font-size:$fs;
    background: $bg;
    border:1px solid $border-color;
    border-radius: $br;
}

@mixin pendant-pos($pos,$top,$right){
    position: $pos;
    top:$top;
    right:$right;
}
/*    徽标/标签    end*/
