$fs-base:1em;
$br-base:4px;

/*    z-index   start  */
$zi1:1;
$zi2:2;
$zi3:3;
$zi4:4;
$zi1:5;
$zi9:9;
$zi10:10;
$zi99:99;
$zi100:100; 
/*    z-index   end  */

/*    元素定位类型 start      */
$pa:absolute;
$pr:relative;
$pf:fixed;
/*    元素定位类型 end      */

/*    颜色   start     */
/**
 **  
**/

/*    颜色   start     */

$border-width: 1px;
$border-color:#ececec;

/*    按钮初始化   start     */
/**
**  btn-default 默认按钮
**  btn-primary 主要按钮
**  btn-secondary 次要按钮
**  btn-warning 警示按钮
**/
$btn-width:88px;
$btn-height:36px;

$btn-default-color:#333;
$btn-default-bg:#fff;

$btn-primary-color:#fff;
$btn-primary-bg:#5edd9e;

$btn-secondary-color:#fff;
$btn-secondary-bg:#fc0;

$btn-warning-color:#fff;
$btn-warning-bg:#d9534f;
/*    按钮初始化   end     */

/*    头像初始化   start     */
/**
**  avatar-default 100*100
**  avatar-s 60*60
**  avatar-lg 140*140
**/
$avatar-color:#fff;
$avatar-bg:#bcbcbc;

$avatar-default-width:50px;
$avatar-default-height:50px;
$avatar-default-fs:24px;

$avatar-s-width:30px;
$avatar-s-height:30px;
$avatar-s-fs:18px;

$avatar-lg-width:70px;
$avatar-lg-height:70px;
$avatar-lg-fs:32px;
/*    头像初始化   end     */


