/************************
**
**  avatar-default 100*100
**  avatar-s 60*60
**  avatar-lg 140*140
**
*************************/

/*    头像初始化   start     */
$avatar-color:#fff;
$avatar-bg:#bcbcbc;

$avatar-default-width:50px;
$avatar-default-height:50px;
$avatar-default-fs:24px;

$avatar-s-width:30px;
$avatar-s-height:30px;
$avatar-s-fs:18px;

$avatar-lg-width:70px;
$avatar-lg-height:70px;
$avatar-lg-fs:36px;
/*    头像初始化   end     */


.ui-avatar{
    @include avatar($avatar-color,$avatar-bg);
    >img{
        display: inline-block;
        width:100%;
        height:100%;
        border-radius: 50%;
    }
    >[class^="icon-"]{
        display: inline-block;
    }
}

.ui-avatar-default{
    @include avatar-size($avatar-default-width,$avatar-default-height);
    >[class^="icon-"]{
        font-size:$avatar-default-fs;
    }
}

.ui-avatar-s{
    @include avatar-size($avatar-s-width,$avatar-s-height);
    >[class^="icon-"]{
        font-size:$avatar-s-fs;
    }
}

.ui-avatar-lg{
    @include avatar-size($avatar-lg-width,$avatar-lg-height);
    >[class^="icon-"]{
        font-size:$avatar-lg-fs;
    }
}