/**
**  .badge 初始化徽标
**  .badge-border 初始化徽标(带边框)
**  .badge-wrap  脱离正常流徽标
**/
.badge,.badge-border{
    @include pendant($badge-height,$badge-mWidth,$badge-plr,$badge-bg,$badge-fs,$badge-fc,$badge-bc,$badge-br);
}

.badge-border{
    border-color:#e3e3e3;
}

.badge-wrap{
    position: relative;
    display: inline-block;
    >.badge-pos{
        @include pendant-pos($badge-pa,$badge-top,$badge-right);
    }
}