/***************************
**
**  .badge 初始化徽标
**  .badge-border 初始化徽标(带边框)
**  .badge-wrap  脱离正常流徽标
**
***************************/

/*    徽标初始化   start     */
$badge-height:18px;
$badge-mWidth:18px;
$badge-plr:3px;
$badge-fs:12px;
$badge-fc:#fff;
$badge-bc:transparent;
$badge-bg:#f74c31;
$badge-br:10px;

$badge-pa:absolute;
$badge-top:-16px;
$badge-right:-15px;
/*    徽标初始化   end     */

.ui-badge,.ui-badge-border{
    @include pendant($badge-height,$badge-mWidth,$badge-plr,$badge-bg,$badge-fs,$badge-fc,$badge-bc,$badge-br);
}

.ui-badge-border{
    border-color:#e3e3e3;
}

.ui-badge-wrap{
    position: relative;
    display: inline-block;
    >.ui-badge-pos{
        @include pendant-pos($badge-pa,$badge-top,$badge-right);
    }
}