/**
**  btn-default 默认按钮
**  btn-primary 主要按钮
**  btn-secondary 次要按钮
**  btn-warning 警示按钮
**/
.btn{
    display: inline-block;
    cursor: pointer;
    @include btn-size($btn-width,$btn-height,$fs-base,$br-base);
}

.btn-default{
    @include btn-variant($btn-default-color,$btn-default-bg);
    &:active{
        background: #e6e6e6;
        border-color:#adadad;
    }
    &::before{
        border-radius: $br-base;
    }
}
.btn-primary{
    @include btn-variant($btn-primary-color,$btn-primary-bg);
}
.btn-secondary{
    @include btn-variant($btn-secondary-color,$btn-secondary-bg);
}
.btn-warning{
    @include btn-variant($btn-warning-color,$btn-warning-bg);
}

.btn-block {
  display: block;
  width: 100%;
}