/************************
**
**  ui-btn-default 默认按钮
**  ui-btn-primary 主要按钮
**  ui-btn-secondary 次要按钮
**  ui-btn-warning 警示按钮
**
************************/

/*    按钮初始化   start     */
$btn-width:88px;
$btn-height:36px;

$btn-default-color:#333;
$btn-default-bg:#fff;

$btn-primary-color:#fff;
$btn-primary-bg:#5edd9e;

$btn-secondary-color:#fff;
$btn-secondary-bg:#fc0;

$btn-warning-color:#fff;
$btn-warning-bg:#d9534f;
/*    按钮初始化   end     */


.ui-btn{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    @include btn-size($btn-width,$btn-height,$fs-base,$br-base);
}

.ui-btn-default{
    @include btn-variant($btn-default-color,$btn-default-bg);
    &:active{
        background: #e6e6e6;
        border-color:#adadad;
    }
    &::before{
        border:1px solid $border-color;
        border-radius: $br-base;
    }
}
.ui-btn-primary{
    @include btn-variant($btn-primary-color,$btn-primary-bg);
}
.ui-btn-secondary{
    @include btn-variant($btn-secondary-color,$btn-secondary-bg);
}
.ui-btn-warning{
    @include btn-variant($btn-warning-color,$btn-warning-bg);
}

.ui-btn-block {
  display: block;
  width: 100%;
}