$jz-cell-ptb:6px;
$jz-cell-height:46px;

/**    表单单选项基本配置    start**/
$jz-rc-w:26px;
$jz-rc-h:26px;
$jz-rc-wb:24px;
$jz-rc-hb:24px;
$jz-radio-wa:14px;
$jz-radio-ha:14px;
$jz-radio-abr:7px;
$jz-radio-al:5px;
$jz-radio-at:5px;
/**    表单单选项基本配置    end**/

/**    表单多选项基本配置    start**/
$jz-cb-fs:22px;
$jz-cb-lh:20px;
/**    表单多选项基本配置    end**/

/**    多选，适用签订条款    start**/
$jz-agree-ct:2px;
$jz-agree-cbt:4px;
$jz-agree-cbl:6px;
/**    多选，适用签订条款    end**/

/**    图片验证码    start**/
$jz-vcode-imgH:34px;
/**    图片验证码    end**/

/**    短信验证码    start**/
$jz-re-sendH:34px;
/**    短信验证码    end**/

/**    表单开关    start**/
$jz-switch-w:52px;
$jz-switch-h:32px;
$jz-switch-r:16px;
$jz-switch-pric:#DFDFDF;

$jz-switch-wb:50px;
$jz-switch-hb:30px;
$jz-switch-bcb:#FDFDFD;

$jz-switch-wa:30px;
$jz-switch-ha:30px;
$jz-switch-bca:#fff;
/**    表单开关    end**/



.jz-form-wrap{
    font-size:16px;
    .jz-cell{
        height:$jz-cell-height;
        line-height:$jz-cell-height - $jz-cell-ptb*2;
    }
}

.jz-form-input,.jz-select .jz-form-select{
    width:100%;
    border:none;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
}

/**   清空input   start**/
.jz-input-clear{
    position:absolute;
    top:0;
    right:0;
}
/**   清空input   end**/

/**   排列多个 行内块级select   start**/
.jz-select-dib{
    float:left;
    position:relative;
    .jz-form-select{
        padding-right: 14px;
    }
}
/**   排列多个select   end**/

/**   表单单选   start**/
.jz-radio{
    input[type = "radio"]{
        display: inline-block;
        width: $jz-rc-w;
        height: $jz-rc-h;
        position: relative;
        overflow: visible;
        border: 0;
        background: none;
        -webkit-appearance: none;
        outline: none;
        vertical-align: middle;
        &::before{
            content: '';
            display: block;
            width: $jz-rc-wb;
            height: $jz-rc-hb;
            border: 1px solid #dfe0e1;
            border-radius: 50%;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            position: absolute;
            left: 0px;
            top: 0;
        }
        &:checked::after{
            content: '';
            display: block;
            width: $jz-radio-wa;
            height:$jz-radio-ha;
            background: $jz-default-color;
            border-radius: $jz-radio-abr;
            position: absolute;
            left: $jz-radio-al;
            top: $jz-radio-at;
        }
    }
}
/**   表单单选   end**/

/**   表单多选   start**/
.jz-checkbox input{
    display: inline-block;
    width: $jz-rc-w;
    height: $jz-rc-h;
    position: relative;
    overflow: visible;
    border: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    vertical-align: middle;
    &::before{
        content: '';
        display: block;
        width: $jz-rc-wb;
        height: $jz-rc-hb;
        border: 1px solid #dfe0e1;
        border-radius: 50%;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        position: absolute;
        left: 0px;
        top: 0;
    }
    &:checked::before{
        content:"\e679";
        font: normal normal normal 23px/22px "iconfont";
        -webkit-font-smoothing: antialiased;
        color:$jz-default-color;
        position: absolute;
    }
}
/**   表单多选   end**/

/**   多选，作用于签订相关条款   start**/
.jz-agree{
    padding:0 15px;
    .jz-agree-checkbox{
        -webkit-appearance: none;
        appearance: none;
        font-size: 0;
        border: 1px solid #D1D1D1;
        background-color: #FFFFFF;
        border-radius: 3px;
        width: 13px;
        height: 13px;
        position: relative;
        vertical-align: 0;
        top: $jz-agree-ct;
        &:checked::before{
                font: normal normal normal 23px/44px "iconfont";
                text-transform: none;
                text-align: center;
                speak: none;
                display: inline-block;
                vertical-align: middle;
                text-decoration: inherit;
                content: "\e643";
                color: $jz-default-color;
                position: absolute;
                top: $jz-agree-cbt;
                left: $jz-agree-cbl;
                transform: translate(-50%, -48%) scale(0.73);
                -webkit-transform: translate(-50%, -48%) scale(0.73);
        }
    }
}
/**   多选，作用于签订相关条款   end**/

/**   图片验证码   start**/
.jz-vcode-img{
    height:$jz-vcode-imgH;
}
/**   图片验证码   end**/

/**   短信验证码   start**/
.jz-re-send{
    height:$jz-re-sendH;
    color:#fff;
    background:$jz-default-color;
}
/**   短信验证码   end**/

/**   表单开关   start**/
.jz-switch{
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: $jz-switch-w;
    height: $jz-switch-h;
    border: 1px solid $jz-switch-pric;
    outline: 0;
    border-radius: $jz-switch-r;
    box-sizing: border-box;
    background-color: $jz-switch-pric;
    -webkit-transition: background-color 0.1s, border 0.1s;
    transition: background-color 0.1s, border 0.1s;
    &::before,&::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
    }
    &::before{
        width: $jz-switch-wb;
        height: $jz-switch-hb;
        background-color: $jz-switch-bcb;
        -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
        transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
        transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
        transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1), -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    }
    &::after{
        width: $jz-switch-wa;
        height:$jz-switch-ha;
        background-color: $jz-switch-bca;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
        transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
        transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
        transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35), -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    }
    &:checked{
        border-color: $jz-default-color;
        background-color: $jz-default-color;
        &:before{
            transform: scale(0);
        }
        &:after{
            transform: translateX(20px);
        }
    }
}
/**   表单开关   end**/