$lc-plr:15px;
$lc-ptb:10px;

.jz-cells{
    padding-left:$lc-plr;
    .jz-cell{
        padding-left:0;
    }
}
.jz-cell{
    padding:$lc-ptb $lc-plr;
    color: inherit;
    align-items: center;
    &::before{
        border-bottom:1px solid $border-color;
    }
    &:first-child::before{
        border-top:1px solid $border-color;
    }
    .jz-cell-hd,.jz-cell-fd{
        >*{
            display:block;
        }
    }
    .jz-cell-bd{
        position:relative;
    }
}