
$searchbar-wrapH:45px; //搜索框高度
$searchbar-wrap-ptb:7px;  //搜索框上下内边距
$searchbar-wrap-plr:15px;  //搜索框左右内边距
$searchbar-wrap-bg:#eee;  //搜索框背景颜色
 
$searchbar-bg:#fff;  //输入框背景颜色
$icon-search-lh:$searchbar-wrapH - ($searchbar-wrap-ptb*2);  //box-sizing:border-box  高度 = 行高 + 上下内边距

$icon-cancel-thin-w:40px;  //取消按钮宽度

.ui-searchbar-wrap{
    position: relative;
    height:$searchbar-wrapH;
    padding:$searchbar-wrap-ptb $searchbar-wrap-plr;
    text-align: center;
    background: $searchbar-wrap-bg;
    .icon-cancel-thin,.ui-searchbar-cancel,.ui-searchbar-input{
        display: none;
    }
    .ui-searchbar{
        width:100%;
        height:100%;
        position: relative;
        background: $searchbar-bg;
        border-radius:$br-base;
    }
    .icon-search{
        line-height: $icon-search-lh;
    }
    .ui-searchbar-input{
        height:100%;
        padding-right:$icon-cancel-thin-w;
        border-radius: $br-base;
        background: $searchbar-bg;
        input{
            width:100%;
            padding:5px 0 5px 40px;
            border:none;
        }
    }
    &.focus{
        padding-right:0;
        text-align: left;
        .ui-searchbar-text{
            display: none;
        }
        .ui-searchbar-input,.icon-cancel-thin,.ui-searchbar-cancel{
            display: block;
        }
        .icon-search{
            position: absolute;
            left: 0;
            right: inherit;
            padding:0 0 0 15px;
        }
        .icon-cancel-thin{
            position: absolute;
            width:$icon-cancel-thin-w;
            top:0;
            right:0;
            line-height: $icon-search-lh;
        }
        .ui-searchbar-cancel{
            line-height: $icon-search-lh;
        }
    }
}