.ui-subscript{
    &::before,&::after{
        position: absolute;
    }
    &::after{
        font-size:12px;
        color:#fff;
        font-family: "\9ED\4F53", "Hiragino Sans GB", "Hiragino Sans GB W3", "Droid Sans", "Kalinga", sans-serif;
    }
}

.ui-s-triangle,.ui-s-concave,.ui-s-irregular,.ui-s-rectObl,.ui-s-bulge,.ui-s-flatConcave,.ui-s-doubleRounded{
    &:before{
        top:0;
        line-height: 29px;
        font-size:32px;
    }
}
.ui-s-triangle{
    &::after{
        content:"新";
        padding: 1px 0 0 3px;
    }
}
.ui-s-rectObl{
    &::before{

    }
    &::after{
        content:"会员";
        transform: rotate(-45deg);
        left:-1px;
        top:4px
    }
}
.ui-s-irregular{
    &::before{

    }
    &::after{
        content:"热";
        left:6px;
        top:2px;
    }
}
.ui-s-singleFillet{
    &::before{
        left:3px;
        font-size:15px;
    }
    &::after{
        content:"热";
        padding: 2px 0 0 5px;
    }
}
.ui-s-concave{
    &::before{
        left:-2px;
    }
    &::after{
        content:"首发";
        left:2px;
        top:5px;
    }
}
.ui-s-bulge{
    &::before{
        line-height: 27px;
    }
    &::after{
        content:"首发";
        left:4px;
        top:4px;
    }
}
.ui-s-flatConcave{
    &::before{

    }
    &::after{
        content:"新品";
        left:4px;
        top:1px;
    }
}
.ui-s-doubleRounded{
    &::before{
        font-size:15px;
        line-height:14px;
    }
    &::after{
        content:"新品";
        padding: 0 0 0 7px;
    }
}
.ui-s-rect{
    &::before{
        content:"免费";
        position: absolute;
        width:28px;
        height:13px;
        text-align:center;
        line-height:13px;
        font-size:12px;
        right:0;
        bottom:0;
        background-color: #666;
        color:#fff;
    }
}