/**
**  ui-tips 普通提示
**  ui-tooltips  工具提示
**/

$ui-tooltips-h:35px;
$ui-tc-right-w:40px;
$ui-tooltips-bg:#fff2ba;


.ui-tooltips{
    position: relative;
    max-width:100%;
    padding:0 $ui-tc-right-w 0 15px;
    line-height: 35px;
    background: $ui-tooltips-bg;
    .ui-tc-right{
        position: absolute;
        width:$ui-tc-right-w;
        top:0;
        right:0;
        font-size:14px;
    }
}