/**
**  jz-tips 普通提示
**  jz-tooltips  工具提示
**/

$jz-tooltips-h:35px;
$jz-tc-right-w:40px;
$jz-tooltips-bg:#fff2ba;


.jz-tooltips{
    position: relative;
    max-width:100%;
    padding:0 $jz-tc-right-w 0 15px;
    line-height: 35px;
    background: $jz-tooltips-bg;
    .jz-tc-right{
        position: absolute;
        width:$jz-tc-right-w;
        top:0;
        right:0;
        font-size:14px;
    }
}