@mixin border-style($border-dire,$width:1px,$style:solid,$color:#e3e3e3){
    @if $border-dire == bl {
        border-left:$width $style $color;
    }
    @else if $border-dire == br {
        border-right:$width $style $color;
    }
    @else if $border-dire == bt {
        border-top:$width $style $color;
    }
    @else if $border-dire == bb {
        border-bottom:$width $style $color;
    }
    @else if $border-dire == tb {
        border-top:$width $style $color;
        border-bottom:$width $style $color;
    }
    @else if $border-dire == lt{
        border-left:$width $style $color;
        border-top:$width $style $color;
    }
    @else if $border-dire == lt{
        border-left:$width $style $color;
        border-top:$width $style $color;
    }
    @else {
        border:$width $style $color;
    }
}

