<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable"> 
    <meta content="yes" name="apple-touch-fullscreen"> 
    <meta content="telephone=no,email=no" name="format-detection"> 
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
	<title>reset</title>
    <script src="../../../js/common/flexible.js"></script>
    <link rel="stylesheet" href="../../../dist/plugin/highlight.css">
	<link rel="stylesheet" type="text/css" href="../../../dist/css/global.css">
</head>
<body>
    <div id="mo-wrapper">
        <header id="ui-header">
            <div class="ui-header-con">
                <a href="#"></a>
                <h2>H5 3.0框架</h2>
                <a href="#">返回首页</a>
            </div>
        </header>
        <section id="ui-main">
            <div class="ui-scroll">
                <div class="ui-tab-con">
                    <div class=" ui-reset">
                        <div class="code">
                            <div class=""></div>
                            <pre><code class="language-css">p { color: red }</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="ui-footer">
            <nav class="ui-footer-con border tc">
                <a href="#" class="c-orange">基础样式</a>
                <a href="#" class="c-orange">UI组件</a>
                <a href="#" class="c-orange">JS插件</a>
                <a href="#" class="c-orange">Web组件</a>
                <a href="#" class="c-orange">第三方插件</a>
                <a href="#" class="c-orange">UI图标</a>
            </nav>
        </footer>
    </div>
    <script>
        document.body.addEventListener('touchstart', function () {});  
    </script>
    <script src="../../../js/common/vue.js"></script>
    <script src="../../../js/plugin/highlight.js"></script>
    <script src="../../../js/plugin/zeroClipboard.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        new Vue({
            el: 'head'
        });
    </script>
</body>
</html>